@font-face {
  font-family: 'Varela';
  src: url('./VarelaRound-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

:root {
  --white: #fff;
  --gray: #ccc;
  --black: #000
}

* {
  font-family: 'Varela', sans-serif;
}

body {
  background-image: url(./elden_ring.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  color: var(--white);
}

h1 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 15vh;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 0 15vw;
}

#recent-scores .top {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

#recent-scores button {
  border: solid var(--white) 1px;
  border-radius: 0;
  background-color: var(--white);
  box-shadow: 2px 2px var(--black);
}

#scores-list {
  border: solid var(--black) 2px;
  list-style: none;
  padding-inline-start: 0;
  height: 50vh;
  overflow-y: scroll;
}

li:nth-child(even) {
  background: var(--gray);
}

li:nth-child(odd) {
  background: var(--white);
}

#scores-list li {
  padding: 5px 15px;
  color: var(--black);
}

#scores-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#scores-form input {
  border: solid var(--white) 1px;
  background-color: var(--white);
  height: 30px;
}

#scores-form input:last-child {
  align-self: flex-end;
  border: solid var(--white) 1px;
  border-radius: 0;
  box-shadow: 2px 2px var(--black);
  height: initial;
}
